@charset "UTF-8";

.main-content {
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  margin: 0 30px;
}

.main-content div {
  padding: 12px;
  border-radius: 1em;
  color: white;
  padding: 12px;
  background-color: #112E48;
}

.content-item {
  background-color: rgba(36, 65, 119, 0.945);
  color: white;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.overview {
  grid-column: 1/4;
}

.remaining-tasks {
  grid-column: 1/3;
}

.today-tasks {
  grid-column: 3/5;
}

.pending-quotations-list {
  grid-column: 1/5;
}

.our-growth-by-month,
.our-growth-by-year,
.current-projects {
  grid-column: 1/5;
}

.breadcrumb {
  margin-left: 20px !important;
}

.overview-list-group {
  width: 460px !important;
  padding: 1em 0 !important;
  margin: 0 !important;
}

.overview-list-group a {
  width: 8em !important;
  padding: 0px 4px !important;
  border: 1px solid white;
  color: white;
}

.overview-list-group a:hover {
  background-color: white !important;
  color: black !important;
}

.list-group-item.active {
  border: 1px solid white !important;
  background-color: white !important;
  color: black !important;
}

.main-footer {
  background: #03223D !important;
  border: none;
}

.overview,
.enquiry-type,
.today-tasks,
.current-projects,
.our-growth-by-month,
.our-growth-by-year,
.enquiries-list-content {
  background-color: #112E48;
}

.btn-view-all {
  border-radius: 37px !important;
  background-color: transparent;
  border: 1px solid white !important;
}

.btn-view-all:hover {
  background-color: white;
  color: black !important;
}

.meter {
  height: 20px;
  position: relative;
  background: #2bc253;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(bottom, center), color-stop(37%, #2bc253), color-stop(69%, #54f054));
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  background: #03223D !important;
}

.main-footer {
  background: #03223D !important;
  border: none;
}

.border-top-solid-white {
  border-top: thin solid #ffffff4f;
}

.text-custom-1 {
  color: #ffffff9e;
}

.input-enquiries {
  background: #112e48;
  border: none;
}

.box-1 {
  margin: 0 30px !important;
}

.input-enquiries {
  border: none !important;
  background-color: transparent !important;
  offset: none;
  width: 50px !important;
  outline: 0;
  border-width: 0 0 2px;
  border-radius: unset;
}

.input-enquiries-2 {
  border: none !important;
  background-color: transparent !important;
  offset: none;
  width: 150px !important;
}

.table-scroll-style::-webkit-scrollbar {
  width: 12px;
  background-color: #03223D;
}

.table-scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.table-scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #03223D;
}

.font-style-baskerville {
  font-family: Baskerville;
}

.overview-custom-color-1 {
  color: #AE8DFF;
}

.overview-custom-color-2 {
  color: #DA4453;
}

.bg-download-pdf {
  background-color: #2bc253;
}

.progress,
.progress-bar {
  padding: 0 !important;
}

.menu-link.active {
  color: #343a40 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.parent-link {
  color: #343a40 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.black-on-hover:hover {
  color: black;
}

.ui-datepicker-trigger {
  border: none;
  background: none;
}

.bootstrap-datetimepicker-widget table th.next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F054";
}

.bootstrap-datetimepicker-widget table th.prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F053";
}

