.scrollbar {
    cursor: pointer;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #08122c;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #08122c;
    }
    &::-webkit-scrollbar-thumb {
        background-color:#F5F5F5;
    }
}

.mini-scrollbar{
    &::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
        background-color: green;
    }
}