.login-container {
    margin-top: 5%;
}

.card {
    //width: 400px;
    // min-height: 450px;
    margin-bottom: 0!important;
    border-radius: 1rem;
    padding: 10px;
}

.login-section {
    margin-top: 16px;
}

.logo-section {
    height: 100px;
    position: relative;
}

.logo-image {
    position: absolute;
    top: 120%;   
}

.login-card-body {
    padding: 80px 40px;
}

.banner-font {
    font-family: "Arial Narrow";
}

.login-button {
    background: #D8D8D8;
    background-image: linear-gradient(270deg, #0F3B67 0%, #071D39 100%);
    border-radius: 37px!important;
    font-family: "Montstrrat"!important;
    margin-top: 12px;
    padding: 8px 72px;
}

.login-input {
    outline: 0;
    border-width: 0 0 2px;
    border-radius: unset;
}

.title-text {
    padding-top: 1em;
}

.copyright-text {
    padding-top: 100px;
}